asgiref==3.8.1
certifi==2025.1.31
channels==4.2.0
charset-normalizer==3.4.1
Django==5.1.7
django-rest-knox==5.0.2
djangorestframework==3.15.2
dynaconf==3.2.10
idna==3.10
pillow==11.1.0
psycopg==3.2.6
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
